@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	margin: 0 auto;
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 17px;
	margin-bottom: 116px;

	@include tablet {
		align-items: flex-start;
		margin-bottom: 110px;
	}

	@include tablet-small {
		width: 100%;
		padding: 0 12px;
		margin-bottom: 63px;
	}
}

.title {
	max-width: 776px;
	margin-bottom: 8px;
	text-align: center;

	@include tablet {
		text-align: left;
		line-height: 130%;
	}

	span {
		font-size: 46px;
		line-height: 120%;
		letter-spacing: 0.11em;
		font-family: var(--font-act);
		margin: 0;
		padding: 0;

		@include tablet {
			font-size: 42px;
			text-align: center;
		}

		@include tablet-small {
			font-size: 26px;
			text-align: center;
		}
	}
}

.description {
	max-width: 400px;
	margin-bottom: 24px;
	font-size: 15px;
	line-height: 150%;
	color: var(--color-white-2);
	font-family: var(--font-esq);
	text-align: center;

	@include tablet {
		text-align: left;
	}

	@include tablet-small {
		margin-bottom: 19px;
		font-size: 12px;
	}
}

.cards {
	display: flex;
	gap: 30px;
}

.card {
	width: 300px;
	height: 412px;
	position: relative;
	padding: 35px 31px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 12px;

	@include tablet-small {
		gap: 4px;
	}

	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

.cardTitle {
	font-size: 24px;
	line-height: 150%;
	text-transform: uppercase;
	color: white;
	font-family: var(--font-act);

	@include tablet-small {
		font-size: 18px;
		letter-spacing: 0.02em;
	}
}

.cardDescription {
	font-size: 14px;
	line-height: 150%;
	color: var(--color-white-2);
	font-family: var(--font-esq);

	@include tablet-small {
		font-size: 12px;
	}
}
