@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100vw;
	height: 100vh;

	background-image: url('/images/introduce1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	@include tablet {
		background-image: url('/images/introduce-tablet.png');
		padding: 0 11px;
	}

	@include tablet-small {
		background-image: url('/images/introduce-mobile.png');
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}

	a:hover {
		opacity: 1;
	}
}

.title {
	max-width: 776px;
	margin-bottom: 16px;

	text-align: center;

	@include tablet {
		text-align: center;
	}

	@include tablet-small {
		text-align: left;
	}

	span {
		font-size: 46px;
		line-height: 120%;
		letter-spacing: 0.11em;
		font-family: var(--font-act);
		text-align: center;

		@include tablet {
			font-size: 42px;
			text-align: center;
		}

		@include tablet-small {
			font-size: 32px;
			text-align: left;
		}
	}
}

.subtitle {
	max-width: 500px;
	margin-bottom: 28px;
	font-family: var(--font-esq);
	font-size: 20px;
	line-height: 150%;
	text-transform: uppercase;
	color: var(--color-white-2);
	text-align: center;

	@include tablet-small {
		max-width: 250px;
		margin-bottom: 16px;
		text-align: left;
		font-size: 14px;
	}
}

.description {
	max-width: 400px;
	margin-top: 16px;
	font-size: 15px;
	line-height: 150%;
	color: var(--color-white-2);
	font-family: var(--font-esq);
	text-align: center;


	@include tablet-small {
		font-size: 12px;
		text-align: left;
	}
}

.button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	@include tablet-small {
		width: 100%;

		a {
			width: 100%;
		}
	}
}
