/* stylelint-disable selector-class-pattern */
@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.gradientBlur {
	z-index: -1;
	position: absolute;
}

.root {
	position: relative;
	overflow: hidden;
	display: flex;
	gap: 50px;
	width: 984px;
	margin: 0 auto;

	@include tablet {
		flex-wrap: wrap;

		padding: 0 20px;

		gap: 14px;
	}

	@include tablet-small {
		padding: 0 13px;
	}

	.title {
		font-family: var(--font-act);
		font-size: 47px;

		@include tablet {
			width: 100%;
		}

		@include tablet-small {
			font-size: 32px;
		}

		span {
			line-height: 120%;
			letter-spacing: 0.11em;
		}
	}

	.line {
		width: 1px;
		height: 768.5px;
		background: linear-gradient(#6DCEFF, #6DCEFF00);

		@include tablet {
			margin-left: 15px;
		}
	}

	.questions {
		display: flex;
		flex-direction: column;
		gap: 67px;

		margin-left: -78px;
  	margin-top: 40.5px;

		@include tablet {
			margin-left: -41.5px;
		}

		.question {
			display: flex;
			flex-direction: column;

			width: 745px;

			@include tablet-small {
				width: 390px;
			}

			&__design {
				display: flex;

				height: 45.5px;
				width: max-content;

				svg {
					width: 54px;
					height: 54px;

					margin-top: -15px;
				}

				.question__border {
					width: 82.5px;
					height: 33px;
					align-self: flex-end;

					border-top: 1px solid var(--color-blue-main);
					border-right: 1px solid var(--color-blue-main);
				}
			}

			&__content {
				width: 700px;
				height: 135px;
				display: flex;
				flex-direction: column;
				gap: 7px;

				align-self: flex-end;

				padding: 25px 150px 23px 30px;

				background: center no-repeat url('../../../public/images/back_faq.png');

				background-size: 100%;

				@include tablet-small {
					background: left no-repeat url('../../../public/images/back_faq_mobile.png');
					background-size: cover;

					width: 350px;
					height: 148px;

					padding: 40px 19.5px 25px 20px;
				}

				.question__title {
					font-family: var(--font-act);
					font-size: 20px;
					line-height: 150%;
					text-transform: uppercase;
					color: var(--color-white);

					@include tablet-small {
						font-size: 16px;
						margin-left: 5px;
					}
				}

				.question__text {
					font-family: var(--font-esq);
					font-size: 16px;
					line-height: 150%;
					letter-spacing: -0.04em;
					color: var(--color-white-2);

					@include tablet-small {
						font-size: 12px;
						margin-left: 5px;
					}
				}
			}
		}
	}
}
