@use '@styles/func';
@use '@styles/mixins' as *;

.root {
  position: relative;
  width: 100%;
  padding-bottom: 60px;

  z-index: 6;

  @include tablet {
    padding-bottom: 35px;
  }

  @include tablet-small {
    padding-bottom: 45px;
  }
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  @include tablet-small {
    order: 1;
    position: relative;
    left: auto;
    transform: none;
  }
}

.telegram {
  @include tablet-small {
    order: 2;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet-small {
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-end;
  }
}

.links, .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;

  @include tablet-small {
    gap: 7px;
    order: 3;
    width: 100%;

    .info {
      align-items: flex-start;
    }
  }
}

.info {
  align-items: flex-start;

  font-family: var(--font-esq);
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-white);

  @include tablet-small {
    font-size: 12px;
  }
}
