@use '@styles/func';
@use '@styles/mixins';
@use '@styles/variables';

.root {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

.imposter {
  position: relative;
	background-color: var(--color-dark-blue);
  z-index: 5;
}
