@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.button {
  display: flex;
	gap: 16px;

	padding: 26px;

	max-height: 71px;
	width: max-content;

  background-repeat: no-repeat;
	background-position: center;

	background-size: 100% 100%;

	@include tablet {
		gap: 12px;

		max-width: 336px;
		justify-content: center;
	}

	.text {
		font-family: var(--font-act-reg);
		font-size: 16px;
		line-height: 150%;
		color: var(--color-blue-main);

		@include tablet {
			font-size: 14px;
		}
	}
}
