@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.button {
  display: flex;
  cursor: pointer;

	gap: 16px;

	padding: 26px;

	max-height: 71px;
	width: max-content;

  background-repeat: no-repeat;
	background-position: center;

	background-size: 100% 100%;

	transition: all 0.3s ease;

	span {
		transition: all 0.3s ease;
		color: var(--color-blue-main);
	}

	&:hover {
		opacity: 1;
		transition: all 1s ease;

		span {
			color: black;
			transition: all 0.3s ease;
		}
	}

	@include tablet {
		gap: 12px;

		max-width: 400px;
		justify-content: center;
	}

	.text {
		font-family: var(--font-act-reg);
		font-size: 16px;
		line-height: 150%;

		@include tablet-small {
			font-size: 14px;
		}
	}
}
